*{
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/*--------------------------Navbar Styling--------------------------*/

#navbar{    
    position: fixed;
    z-index:999; /*layer precedence*/
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
}

#navbar li:hover {
    background-color: #5141b5;
}

#navbar li:active {
    background-color: #fff;
    
}


.Navbar img{
    height: 80px;
    padding: 15px 50px 0 0;
}

#navlist{
    width:80%;
    list-style-type: none;
    overflow: hidden;
    background-color: #442387;
    border-radius: 5px;
    display: flex;
    flex-direction: row; /* Specifies direction of flex items*/
    justify-content: space-evenly; /* specifies the way content is distributed along main axis */
    align-items: center;
    height: 55px;
}

#navlist a {
    color: white;
    text-align: center;
    text-decoration: none;
    padding:17px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*--------------------------Header and Para tag Styling--------------------------*/
h2 {
    color: #4d4b4b; 
    font-family: 'Exo', sans-serif; 
    font-size: 30pt; 
    font-weight: normal; 
    line-height: 55px;  
    text-transform: uppercase; 
    text-align: center; 
    padding: 4% 0 4% 0;
    mix-blend-mode: multiply;
  
}

h3 {
    color: #4d4b4b; 
    font-family: 'Exo', sans-serif; 
    font-size: 25pt; 
    font-weight: normal; 
    line-height: 55px;  
    text-transform: uppercase; 
    text-align: start; 
    padding: 5% 0 0 5%;
    mix-blend-mode: multiply;
  
}

h4 {
    color: #4d4b4b; 
    font-family: 'Exo', sans-serif; 
    font-size: 15pt; 
    font-weight: normal; 
    line-height: 45px;  
    text-transform: uppercase; 
    text-align: start; 
    mix-blend-mode: multiply;
  
}

p {
    color: #4d4b4b; 
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    font-size: 13pt; 
    font-weight: thin; 
    line-height: 30px;   
    text-align: start; 
    padding: 3% 0 0% 5%;
    mix-blend-mode: multiply;
    word-wrap: normal;
    width: 90%;
  
}

/*--------------------------landing page header background image--------------------------*/

.headerGallery{
    position: relative;
    display: flex;
    align-items: center;
    background-image:url(5260508.jpg);
    height: 100vh;
    background-size: 100%;
    background-position: inherit;
}

/*--------------------------About football container & its elements--------------------------*/
.aboutBBContainer{
    display: flex;
    flex-direction:column;
    width:100%;
}

.aboutBBContainer .aboutBB{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width:100%;
}

.aboutBBContainer .aboutBB .imageBox{
    display: flex;
    width: 100%;
}

.aboutBBContainer .aboutBB .imageBox img{
    max-width: 100%;
    object-fit: cover;
    
    /* object-position: 0px 15px; */
}

.aboutBBContainer .aboutBB .textBox{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    background-color: #e7e6e6;
    
}

/*--------------------------Read More Action Button Styling--------------------------*/

.aboutBBContainer .aboutBB .textBox .aboutBBbtn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    background-color: rgb(106, 104, 104);
    padding: 10px 10px;
    font-size: 12pt;
    margin: 7% 0 5% 5%;
    
}

.aboutBBContainer .aboutBB .textBox .aboutBBbtn a{
    font-family: 'Helvetica Neue', sans-serif;
    text-decoration:none;
    color: #fff;
}


/*---------------------------------Go to top button Styling--------------------*/
.goto{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6%;
    background-color: rgb(222, 216, 230);
    padding: 10px 10px;
    font-size: 15pt;
    margin: 7% 0 5% 5%;
    
}

.goto a{
    font-family: 'Helvetica Neue', sans-serif;
    text-decoration:none;
    color: #080808;
}
.view{
    text-align:center;
    padding:8px;
    margin-top: 5%;
}

/*-----------------------------------------Top Players Styles-------------------------*/

.containerClip{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100%;
    margin: 0 0 4% 0;
}

.containerClip .ListPlayers{
    display:flex;
    justify-content: space-evenly;
    flex-direction: column;
    width:70%;
}

.ListPlayers .row{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap:4%;
}

.ListPlayers .row .column{
    display:flex;
    box-shadow: 5px 3px 23px rgba(0,0,0,0.25);
}

.ListPlayers .row .column img{
    height: 250px;
    object-fit: cover;
    object-position: 0px -20px;
    background-color: #fff;
    /* border-radius: 100%; */
}